/*Test Page Style*/
/*	body{
		background-color: black;
	}*/
body{
	font-family: arial, helvetica, sans-shérif;
	font-size: 16px;
	background-image: url('../img/7--570232-Gerstenfeld.jpg');
	
}

/**********************/
/*   start HEADER     */
/**********************/        
header .logo{
	position:relative;
	top: 12px;
	width: 600px;
	display: block;
	margin: auto;
}
header h1{
	margin-left: 45%;
	margin-top: -10px;
	color: rgb(227, 5, 32);
	font-style: italic;
	font-weight: bold;
}

/**********************/
/*   end HEADER     */
/**********************/