/*Test Page Style*/
	body{
		background-color: black;
	}





	/*  container_ajout_news */
		.container_ajout_news{
			margin: 40px;
			background-color: #101010;
			padding: 50px;
			border: 2px solid red;
	    	 
		}

	/* footer */

	footer {
		margin-top: 15px;
		height: 90px;
		background-color: #303030;
		color: #FFFFFF;
		padding: 15px; 
	}

	footer a {
		color: #FFFFFF;
		font-weight: bold;
		text-decoration: underline;
		margin-left: 30px;
		margin-right: 30px;
	}
	footer a:hover {
		color: lightblue;
	}
	footer button{
		height: 40px;
		width: 180px;
		background-color: #808080;
		color:	#FFFFFF;
		font-weight: bold;
	    border: 2px solid darkblue;
	    padding: 5px 10px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    border-radius: 8px;
	    -webkit-transition-duration: 0.4s; /* Safari */
	    transition-duration: 0.4s;
	    outline: none;
}

 footer button:hover {
    	background-color: #606060; 
	    border: 2px solid darkblue;
    	color: lightblue;
}


